* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "lainFont";
    src: url("fonts/fontlain.ttf");
}

.container {
    width: 1366px;
    margin: 0 auto;
}

body > header {
    padding: 24px;
    background-color: #381652;
    font-family: "lainFont";
}

h1 {
    font-size: 3em;
    color:white;
}

header li {
    display: inline;
    margin-left: 16px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

#navknights {
    text-decoration: line-through;
}

#navknights:hover {
    text-decoration: underline;
}

#tituloa {
    text-decoration: none;
}

section .container {
    align-items: flex-start;
    padding-top: 30px;
}

#img-wired {
    height: 300px;
    padding-right: 50px;
}

#tit-wired {
    font-family: "Anonymous Pro", monospace;
    font-style: oblique;
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 50px;
}

.txt-wired {
    font-size: 1.25em;
}

#contacts .container {
    display: block;
}

.contato-div {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form button {
    cursor: pointer;
}

form {
    padding-top: 5px;
}

form textarea {
    resize: none;
    height: 100px;
}

section {
    font-family: "Anonymous Pro", monospace;
}

.links a {
    text-decoration: none;
}

.links img {
    height: 30px;
}

footer {
    background-color: #381652;
    padding: 16px 0;
    color:white;
}

#knights {
    padding-bottom: 35px;
}

#knights .container {
    display: block;
}

#knights p {
    text-decoration: line-through;
}